/* ===========================
   HOSSEIN AL SHARIF
   Luxury Portfolio Website
=========================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;
background:#050505;
color:#ffffff;
line-height:1.8;

}

a{

text-decoration:none;
color:white;

}

ul{

list-style:none;

}

img{

max-width:100%;

}

/*=========================
NAVBAR
=========================*/

header{

position:fixed;
top:0;
left:0;
width:100%;
background:rgba(0,0,0,.75);
backdrop-filter:blur(15px);
z-index:999;

}

.navbar{

width:90%;
margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 0;

}

.logo{

font-size:28px;

font-weight:700;

letter-spacing:2px;

color:#ffffff;

}

.logo span{

color:#D4AF37;

}

.menu{

display:flex;

gap:35px;

}

.menu a{

font-size:16px;

transition:.4s;

}

.menu a:hover{

color:#D4AF37;

}

.language-box select{

background:#111;

color:#fff;

border:1px solid #D4AF37;

padding:8px 14px;

border-radius:30px;

}

.mobile-btn{

display:none;

font-size:24px;

cursor:pointer;

}

/*=========================
HERO
=========================*/

.hero{

height:100vh;

display:flex;

justify-content:space-around;

align-items:center;

padding:120px 10%;

}

.hero-content{

max-width:600px;

}

.hero-content h4{

color:#D4AF37;

letter-spacing:4px;

margin-bottom:15px;

}

.hero-content h1{

font-size:60px;

margin-bottom:20px;

}

.hero-content p{

font-size:18px;

opacity:.9;

margin-bottom:35px;

}

.btn{

display:inline-block;

padding:14px 35px;

background:#D4AF37;

color:#000;

font-weight:bold;

border-radius:40px;

transition:.4s;

margin-right:15px;

}

.btn:hover{

transform:translateY(-5px);

}

.btn-outline{

display:inline-block;

padding:14px 35px;

border:2px solid #D4AF37;

border-radius:40px;

color:white;

transition:.4s;

}

.btn-outline:hover{

background:#D4AF37;

color:#000;

}
